<h1>Your restaurants :</h1>
<ul> <% @restaurants.each do |restaurant|%>
  <li><%= link_to restaurant.name, restaurant_path(restaurant)%></li>
<%end %>
</ul>

<h6><%= link_to "Add a new restaurant", restaurants_new_path %></h6>
